.root {
  -fx-alignment: top-center;
  -fx-min-width: 30;
}

.coordinateLabel {
  -fx-font-size: 16;
}

.coordinateTitle {
  -fx-font-size: 14;
  -fx-font-weight: bold;
}

.simTypeLabel {
  -fx-font-size: 18;
  -fx-underline: true;
}

.stateColorsTitle {
  -fx-alignment: center;
  -fx-font-size: 16;
}